

<header>
    <meta name="viewport" content="width=device-width" />
    <div class="jumbotron">
        <img src="~/images/back.jpg" />
        <h1>Resenha Cultural</h1>
        <p>
            Criticas bem humoradas sobre filmes, musicas, livros e tudo o que agita o cenario cultural.
        </p>
    </div>
    
</header>